/* gallery CSS */

.tm-gallery-container {
	overflow-y: hidden;
}

.grid {
	max-width: 1165px;
	margin: 0 auto;
}

/* clearfix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* fluid 5 columns */
.grid-item {
	margin: 2.5px;
}

/* Firefox hack 
   https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
*/
/* @-moz-document url-prefix() {
	.grid figure {
		margin: 10px 1.1666%;
		padding-bottom in % not working in FF, so use em instead.
	}
} */

.media {
	display: block;
}

.media-body {
	height: auto;
}

.grid {
	position: relative;
	/* margin: -1.5rem auto; */
	list-style: none;
	text-align: center;
}

/* @media (min-width: 524px) {

	Firefox hack 
   		https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
	
	@-moz-document url-prefix() {
		.grid figure {
			margin: 8px 1%;
			padding-bottom in % not working in FF, so use em instead.
		}
	}
} */

@media (min-width: 640px) {

	.tm-media-img-container,
	.tm-media-img-container img {
		width: auto;
	}

	.tm-media-img-container img {
		max-width: 280px;
	}
}

/* @media (min-width: 800px) {

	Firefox hack 
   	https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
	
	@-moz-document url-prefix() {
		.grid figure {
			margin: 10px 1.1666%;
			padding-bottom in % not working in FF, so use em instead.
		}
	}
} */

@media (min-width: 992px) {
	.container-fluid {
		max-width: 992px;
	}

	.tm-sidebar {
		float: left;
		width: 260px;
	}

	/* .grid {
		margin: -1.5rem auto -1.5rem 0;
	} */
}

@media (min-width: 1200px) {
	.container-fluid {
		max-width: 1200px;
	}

	.tm-main-content {
		margin-left: 0px;
	}
}

@media (min-width: 1400px) {
	.container-fluid {
		max-width: 1605px;
	}

	.tm-main-content {
		margin-left: 0px;
	}
}

/* Gallery */

#gallery div[class^="col"] {
	padding: 2px;
}

#gallery div[class^="col"] img {
	height: 280px;
	object-fit: cover;
}

#gallery div[class^="col"] a img {
	height: 280px;
	object-fit: cover;
}